* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

h1, h2, h3, h4, h5, a, p {
    font-family: 'Inter', sans-serif;
    color: #402D33;
    color: color(display-p3 0.239 0.180 0.200);
    font-style: normal;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    padding: 0 24px;
}

@media(min-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 32px;
    }
}

@media(min-width: 1024px) {
    .container {
        max-width: 1512px;
        padding: 0 60px;
    }
}

header {
    text-align: center;
    padding: 42px 0;
    background-color: #fff;
}

@media (max-width: 768px) {
    header {
        padding: 18px 0;
    }
}

h1 {
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'EB Garamond', serif;
    font-size: 100px;
    font-weight: 400;
    line-height: 110px;
    letter-spacing: -0.01em;
    margin: 0;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 54px;
        line-height: 60px;
        margin: 18px 0;
    }
}

h2 {
    font-size: 40px;
    font-weight: 300;
    margin: 32px;
    color: #7E7A76;
}

@media (max-width: 768px) {
    h2 {
        font-size: 24px;
        line-height: 40px;
        margin: 40px 12px;
    }
}

h3 {
    font-size: 45px;
    margin: 24px 0;
}

@media (max-width: 768px) {
    h3 {
        font-size: 30px;
    }
}

.heading-pink {
    background: linear-gradient(90deg, #F02100 0%, #DB81DF 41.5%);
    background: linear-gradient(90deg, color(display-p3 0.867 0.231 0.000) 0%, color(display-p3 0.808 0.522 0.855) 41.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.heading-green {
    background: linear-gradient(90deg, #006885 0%, #6759D4 100%);
    background: linear-gradient(90deg, color(display-p3 0.067 0.400 0.510) 0%, color(display-p3 0.396 0.349 0.804) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

h4 {
    font-family: 'EB Garamond', serif;
    font-size: 45px;
}

h5 {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 21px;
    color: #7F7A76;
    color: color(display-p3 0.494 0.478 0.463);
}

@media (max-width: 768px) {
    h5 {
        font-size: 20px;
    }
}

p {
    font-size: 30px;
    line-height: 40px;
}

@media (max-width: 768px) {
    p {
        font-size: 24px;
        line-height: 35px;
    }
}

.motherhood-logo {
    width: 439px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .motherhood-logo {
        display: block;
        max-width: 337px;
    }
}

.audio-preview {
    text-align: center;
    margin: 42px 0;
}

.preview-text {
    font-size: 24px;
    color: #FF699F;
    margin-bottom: 10px;
}

.audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD2E2;
    padding: 10px 20px;
    border-radius: 50px;
    width: fit-content;
    margin: 0 auto;
}

.play-button {
    background-color: #FF699F;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.play-button img {
    width: 36px;
}

.audio-waveform {
    display: flex;
    align-items: center;
}

.audio-waveform img {
    width: 322px;
}
@media (max-width: 768px) {
    .audio-player img {
        max-width: 100% !important;
    }
}

.cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
    width: 676px;
    background: linear-gradient(85.78deg, #FFDCE9 0%, #FFACCD 98.64%);
    border-radius: 32px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .cta-section {
        border-radius: 24px;
        display: block;
        width: 100%;
        padding: 18px 12px;
    }
}

.cta-text {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(64, 45, 51, 0.5);
}

@media (max-width: 768px) {
    .cta-text {
        font-size: 20px;
        line-height: 25px;
    }
}

.notify-btn {
    display: inline-block;
    padding: 16px;
    max-width: 232px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #402D33;
    cursor: pointer;
    text-decoration: none;
    border: 3px solid transparent;
    background-image: linear-gradient(#fff, #fff),
                      linear-gradient(0deg, rgba(255, 127, 173, 0.5), rgba(255, 30, 111, 0.5));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 16px;
}


@media (max-width: 768px) {
    .notify-btn {
        font-size: 18px;
        display: block;
        margin: 18px auto 0 auto;
    }
}

.journey {
    position: relative;
    text-align: center;
    padding: 42px 0;
}

.journey-content {
    max-width: 800px;
    text-align: left;
}

.background-image {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-image: url('images/mother-baby-background.jpg');
    background-size: cover;
    background-position: center;
    height: 1398px;
    width: 100%;
}

@media (max-width: 768px) {
    .background-image {
        top: 440px;
        height: 485px;
    }
}

.mental-noise {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 550px;
    margin: 0 48px;
}

@media (max-width: 768px) {
    .mental-noise {
        padding-top: 200px;
        display: block;
        margin: 0 16px;     
    }

    .text-group {
        max-width: 100% !important;
    }
}

.text-group {
    max-width: 550px;
}

.app-image {
    max-width: 350px;
    height: auto;
}

@media (max-width: 768px) {
    .app-image {
        margin-top: 40px;
        max-width: 100%;
    }
}

.journey-steps {
    text-align: center;
    padding-top: 140px;
}

@media (max-width: 768px) {
    .journey-steps {
        padding-top: 60px;
    }
}
.steps-grid {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
    width: 100%;
}

@media (max-width: 768px) {
    .steps-grid {
        margin: 18px 0;
        display: block;        
    }
}

.step {
    display: flex;
    align-items: center;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0px 0px 8px rgba(109, 89, 62, 0.15);
    width: 100%;
}

@media (max-width: 768px) {
    .step {
        margin: 18px 0;
        padding: 18px;
    }
}

.step img {
    max-width: 90px;
    margin-right: 24px;
}

@media (max-width: 768px) {
    .step img {
        max-width: 60px;
    }
}

.step p {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
}

@media (max-width: 768px) {
    .step p {
        font-size: 18px;
        line-height: 28px;
    }
}

.step-detail {
    font-weight: 300 !important;
}

.reviews {
    text-align: center;
    padding: 80px 0;
}

@media (max-width: 768px) {
    .reviews {
        padding: 60px 0;
    }
}

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .reviews-grid {
        display: block;
        padding-top: 0px;
    }
}

.review {
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 8px rgba(109, 89, 62, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

@media (max-width: 768px) {
    .review {
        margin: 30px 0;
    }
}

.review-stars {
    width: 130px;
    margin: 16px 0;
}

.review-content {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 21px;
    text-align: center;
}

@media (max-width: 768px) {
    .review-content {
        font-size: 20px;
    }
}

.review-details {
    margin: 16px 0;
}

.reviewer-name {
    font-size: 18px;
    line-height: 22px;
}

.reviewer-details {
    font-size: 18px;
    color: #7E7A76;
    text-align: center;
}

footer {
    padding: 50px 20px;
}

footer hr {
    border: none;
    height: 2px;
    background-color: rgba(126, 122, 118, 0.5);
    width: 100%;
    margin: 20px 0;
}

.site-footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

@media (max-width: 768px) {
    .site-footer {
        display: block;
    }

    .footer-left {
        max-width: 100% !important;
        display: block;
    }

    .footer-right {
        margin-top: 30px;
    }
}

.footer-left {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-logo {
    width: 120px;
    margin-bottom: 20px;
}

.footer-left p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-link {
    color: #1c1b1b;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border: 2px solid #D2D0CF;
    border: 2px solid color(display-p3 0.824 0.816 0.812);
    border-radius: 12px;        
}

.social-link:hover {
    background-color: #f0f0f0;
}
